In [3]:
import numpy as np
import pandas as pd

dataframe = pd.DataFrame(np.random.randn(4,3),
                         columns=['c', 'e', 'd'],
                         index=['台北', '台中', '高雄', '花蓮'])
dataframe

           c         e         d
台北 -0.344727  0.019646 -1.669555
台中  0.812229 -0.825115  0.374695
高雄  0.237105 -2.789803  0.612497
花蓮 -1.585992  0.760755 -0.486531

In [4]:
np.abs(dataframe)

           c         e         d
台北  0.344727  0.019646  1.669555
台中  0.812229  0.825115  0.374695
高雄  0.237105  2.789803  0.612497
花蓮  1.585992  0.760755  0.486531

In [7]:
display(dataframe.max())
dataframe.max(axis=1)

c    0.812229
e    0.760755
d    0.612497
dtype: float64

台北    0.019646
台中    0.812229
高雄    0.612497
花蓮    0.760755
dtype: float64

In [8]:
display(dataframe.min())
dataframe.min(axis=1)

c   -1.585992
e   -2.789803
d   -1.669555
dtype: float64

台北   -1.669555
台中   -0.825115
高雄   -2.789803
花蓮   -1.585992
dtype: float64

In [10]:
def func1(series:pd.Series)->pd.Series:
    return series + 10

dataframe.apply(func1)

            c          e          d
台北   9.655273  10.019646   8.330445
台中  10.812229   9.174885  10.374695
高雄  10.237105   7.210197  10.612497
花蓮   8.414008  10.760755   9.513469

In [12]:
def func2(series:pd.Series)->float:
    return series.max() - series.min()

display(dataframe.apply(func2))
dataframe.apply(func2,axis=1)

c    2.398221
e    3.550558
d    2.282051
dtype: float64

台北    1.689200
台中    1.637344
高雄    3.402300
花蓮    2.346748
dtype: float64

In [13]:
def func3(series:pd.Series)->pd.Series:
    data = [series.max(),series.min(),series.max()-series.min()]
    s = pd.Series(data,index=['最大','最小','最大-最小'])
    return s

dataframe.apply(func3)

              c         e         d
最大     0.812229  0.760755  0.612497
最小    -1.585992 -2.789803 -1.669555
最大-最小  2.398221  3.550558  2.282051