In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                   'key2':['one', 'two', 'one', 'two', 'one'],
                   'data1': np.random.randn(5),
                   'data2':np.random.randn(5)})

grouped = df.groupby(by='key1')
grouped

In [3]:
# 透過for in grouped實體,觀察groupby實體的內容
for name,group in grouped:
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.479683 -0.269895
1    a  two -0.045887  1.156214
4    a  one  0.121195  0.486588
b
  key1 key2     data1     data2
2    b  one -0.000638  1.011311
3    b  two  0.864296 -1.267503

In [4]:
grouped1 = df.groupby(by=['key1','key2'])
for name,group in grouped1:
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.479683 -0.269895
4    a  one  0.121195  0.486588
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.045887  1.156214
('b', 'one')
  key1 key2     data1     data2
2    b  one -0.000638  1.011311
('b', 'two')
  key1 key2     data1     data2
3    b  two  0.864296 -1.267503

In [6]:
# 透過dict(list(grouped))實體,透過key,取出資料

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                   'key2':['one', 'two', 'one', 'two', 'one'],
                   'data1': np.random.randn(5),
                   'data2':np.random.randn(5)})

grouped = df.groupby(by='key1')
dict1 = dict(list(grouped))
dict1

{'a':   key1 key2     data1     data2
 0    a  one  0.233236 -0.320825
 1    a  two  0.778224 -0.518368
 4    a  one  0.068719  0.792260,
 'b':   key1 key2     data1     data2
 2    b  one  0.115345 -0.939948
 3    b  two  1.548210 -0.011600}

In [7]:
display(dict1['a'])

  key1 key2     data1     data2
0    a  one  0.233236 -0.320825
1    a  two  0.778224 -0.518368
4    a  one  0.068719  0.792260

In [8]:
display(dict1['b'])

  key1 key2     data1     data2
2    b  one  0.115345 -0.939948
3    b  two  1.548210 -0.011600