In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                   'key2':['one', 'two', 'one', 'two', 'one'],
                   'data1': np.random.randn(5),
                   'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.586877 -0.814963
1    a  two  2.523937  0.036581
2    b  one -0.403231 -0.105850
3    b  two -1.080763 -0.239813
4    a  one -0.448323 -1.908403

In [2]:
df['data1'].groupby(by=df['key1']).sum()

key1
a    2.662491
b   -1.483994
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(by=df['key2']).sum()

key2
one   -0.264677
two    1.443174
Name: data1, dtype: float64

In [6]:
df['data1'].groupby(by=[df['key1'],df['key2']]).sum().unstack()

key2       one       two
key1
a     0.138554  2.523937
b    -0.403231 -1.080763